<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Image Recognition</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Liste des images</h1>
        <p>Appuyez sur une image pour la tester</p>
        <div class="row images">
            <div class="col-4 image">
                <img class="img-responsive img-thumbnail image" src="https://static.kiabi.com/images/pantalon-de-pyjama-imprime-bleu-petrole-carreaux-homme-wm689_2_fr1.jpg" alt="">
            </div>
            <div class="col-4 image">
                <img class="img-responsive img-thumbnail image" src="https://www.humanesociety.org/sites/default/files/styles/400x400/public/2018/10/grizzly-bear-312625.jpg?h=a4c72de3&itok=xG44KMKw" alt="">
            </div>
            <div class="col-4 image">
                <img class="img-responsive img-thumbnail image" src="https://www.meillandrichardier.com/media/catalog/product/cache/1/image/800x800/040ec09b1e35df139433887a97daa66f/7/0/7040-gaillarde_royal-taille1000-ho.jpg" alt="">
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="main.js"></script>