html {
  font-size: 20px;
}

.quote {
  margin-top: 0.5em;
}

.quote > span:first-child {
  font-weight: bold
}

.quote > span:first-child:after {
  content:' <===> '
}

.w50 {
  padding-top: 30px;
  width: 50%;
  display: inline;
}
form {
  display: inline;
}